<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project</title>
   
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <h1>welcome to my first Django project!</h1>
    <h1>welcome to my first Django  project!</h1>
    <h1>welcome to my first Django  project!</h1>
    <img src="{% static 'images/51.jpg' %}" alt="hiii">
    <p>This page is created by me as my first Django project</p>
</body>
</html>